<h2>Edit <%= @records.name %></h2>

<%= form_for @records do |form| %>

<div>
    <%= form.label :name %> <br />
    <%= form.text_field :name %>
</div>

<div>
    <%= form.label :reason %> <br />
    <%= form.text_field :reason %>
</div>

<p><%= form.submit %></p>
<% end %>
